# Ignore node_modules since we will install dependencies inside the container
node_modules

# Ignore any logs
*.log
logs/

# Ignore local environment configuration files
.env

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore the npm debug file
npm-debug.log

# Ignore any coverage results from tests
coverage/

# Ignore build artifacts
dist/
build/

# Ignore temporary files and folders
tmp/
*.tmp
*.swp

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore OS-specific files
.DS_Store
Thumbs.db
